@page "/"

@using CRM.Web.Components

@inject NotifyService Notifier

@implements IDisposable

<HeadingComponent />
<h1>Hello, world!</h1>

Welcome to your new app.

<p>Last update: @lastNotification.key = @lastNotification.value</p>

<Counter IncrementAmount="70" />

<ChildComponent Title="Panel title from index" OnClick="@ShowMessage" @bind-Year="parentYear">
    <h3>Child content</h3>
</ChildComponent>

@code {
    private (string key, int value) lastNotification;

    private string messageText;

    private int parentYear;

    protected override void OnInitialized()
    {
        Notifier.Notify += OnNotify;
    }

    public async Task OnNotify(string key, int value)
    {
        await InvokeAsync(() => {
            lastNotification = (key, value);
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        Notifier.Notify -= OnNotify;
    }

    public void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blaze a new trail with Blazor!";
        parentYear = 1030;
    }

    public void YearChanged()
    {
        Console.WriteLine("aaa");
    }
}
